/**
 * @author Sivakumar Kailasam
 */
@import "drag";

$feedCardBg: #1976D2;
$collectionCardBg: white;
$collectionAreaBg:#DFDFDF;
$disabledBtnColor:#A9A9A9;
$invalidContentColor: #F00;
$cardWidth: 200px;
$cardHeight: 120px;
$collectionCardVerticalMargin: 30px;

body {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	overflow: hidden;
}


.feed-area,
.collections-area{
	overflow-y: auto;
	padding-bottom: 100px;
}

.collections-area {
	min-width: 250px;
	width: 250px;
  	background: $collectionAreaBg;
  	float: left;
}


.feed-card,
.collection-card {
	height: $cardHeight;
	width:  $cardWidth;
	color: white;
	padding-left: 10px;
	position: relative;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.collection-card-content { 
	cursor: pointer;
}

.collection-feeds {
	margin-top: 30px;
}

.collection-card {
	
	height: 150px;

	margin: $collectionCardVerticalMargin $collectionCardVerticalMargin/2 $collectionCardVerticalMargin $collectionCardVerticalMargin/2;
	
	background-color: $collectionCardBg;
	
	&:hover{
		background-color: darken($collectionCardBg, 2%) !important;
	}
}


.feed-card{
	margin: 10px 5px 10px 20px;
	background-color: $feedCardBg;
	
	&:hover{
		background-color: lighten($feedCardBg, 15%) !important;
	}

	h6{
		text-overflow: ellipsis;
		  width: $cardWidth - 10;
		  white-space: nowrap;
		  position: relative;
		  overflow: hidden;
	}
}


.collection-card-title {
	font-size: 18px;
}

.all-feeds-title{ 
	font-size: 20px;
	position: absolute;
	top: 40px;
	left: 50px;
}


.open-feed,
.delete-feed,
.edit-collection {
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 10px;
}

.open-feed {
	left: 60px;
	color: white ;
	font-size: 23px;
}

button[disabled]{
	color: $disabledBtnColor;
}


.invalid {
	
	.input-field,
	input[type=text]:focus {
		color: $invalidContentColor;
		border-bottom: 1px solid $invalidContentColor;
		box-shadow: 0 1px 0 0 $invalidContentColor;
	}	
	
	label,
	.input-field label.active,
	.input-field input[type=text]:focus + label, {
		color: $invalidContentColor;
	}
} 


.modal {

	.row { 
		margin-bottom: 0;
	}

	.mdi-action-info-outline{
		color: $invalidContentColor;
		font-size: 14px;
	}

}


@media only screen and (min-width : 993px) {
    #toast-container {
    	      top: initial;
	      bottom: 10% !important;
   }
  }