// body {
// 	display: flex;
// 	flex-direction: column;
// 	background: #639;

// }

// .ember-view {
// 	display: flex;
// 	flex-direction: column;
// }

// .flex {
// 	&-container {
// 		display: flex;
// 		flex-flow: row wrap;
// 		justify-content: center;
// 		align-content: flex-start;
// 		align-items: stretch;
// 		width: 100%;	
// 		height: 100%;
// 		position: relative;
// 	}

// 	&-item {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		position: relative;
// 		text-align: center;
// 	}
// }

// .feed-area {
// 	height: 60%;
// 	width: 100%;
// }

// .collections-area {
// 	height: 40%;
// 	width: 100%;
// }

body,
.ember-view,
.content-area, {
	display: flex;
  	flex-direction: column;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.feed-area,
.collections-area {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
}

.feed-area { 
	background: yellow;
}

.collections-area {
	background: #639;
}

.feed-card,
.collection-card {
	height: 100px;
	width:  200px;
	margin: 10px 5px;
	border: 1px solid #000;
}