/**
 * @author Sivakumar Kailasam
 */
@import "drag";

$feedCardBg: #1976D2;
$collectionCardBg: white;
$collectionAreaBg:#DFDFDF;
$disabledBtnColor:#A9A9A9;
$invalidContentColor: #F00;

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


body,
.ember-view {
	display: flex;
  	flex-direction: column;
  	align-content: flex-start;
}

.content-area {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}


.feed-area,
.collections-area{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: auto;
	padding-bottom: 100px;
}


.feed-area { 
	width: 100%;
}


.collections-area {
	min-width: 250px;
	flex-direction: column;
  	flex-wrap: nowrap;
  	background: $collectionAreaBg;
}


.feed-card,
.collection-card {
	height: 100px;
	width:  200px;
	margin: 10px 5px 10px 20px;
	color: white;
	padding-left: 10px;
	position: relative;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.collection-card-content { 
	cursor: pointer;
}


.collection-card {
	background-color: $collectionCardBg;
	&:hover{
		background-color: darken($collectionCardBg, 2%) !important;
	}
}


.feed-card{
	background-color: $feedCardBg;
	&:hover{
		background-color: lighten($feedCardBg, 15%) !important;
	}
}


.open-feed,
.delete-feed,
.edit-collection {
	font-size: 14px;
	position: absolute;
	bottom: 0;
	left: 10px;
}

.open-feed {
	left: 60px;
	color: white ;
	font-size: 23px;
}

button[disabled]{
	color: $disabledBtnColor;
}


.invalid {
	
	.input-field,
	input[type=text]:focus {
		color: $invalidContentColor;
		border-bottom: 1px solid $invalidContentColor;
		box-shadow: 0 1px 0 0 $invalidContentColor;
	}	
	
	label,
	.input-field label.active,
	.input-field input[type=text]:focus + label, {
		color: $invalidContentColor;
	}
} 


.modal {

	.row { 
		margin-bottom: 0;
	}

	.mdi-action-info-outline{
		color: $invalidContentColor;
		font-size: 14px;
	}

}


@media only screen and (min-width : 993px) {
    #toast-container {
    	      top: initial;
	      bottom: 10% !important;
   }
  }