<div class="content-area">

	{{collection-canvas collections=collections filterCollectionName="filterByCollection" addFeedToCollection="addFeedToCollection"}}
	
	{{feeds-canvas feeds=filteredFeeds }}

</div>

